<container class="col-sm-10 col-sm-offset-1 alignCenter">
  <h3 class="colorPurple">How Much Money Could YOU Save with Carefree Dental?</h3>

  <br>

  <div>
    <h5 class='inline colorPurple'><strong>Step 1: </strong></h5><h5 class='inline'><strong>Select how many people are in your household</strong></h5>
  </div>

  <div id='iconWrap'>
    <span ng-class="{'colorPurple': icon.iconIndex <= selectedMembers}" class="glyphicon glyphicon-user icon" ng-repeat="icon in userIcons" ng-click="iconClick(icon.iconIndex)"></span>
  </div>

  <br>

  <div ng-hide="selectedMembers">
    <p>Please select how many people are in your household before moving to step 2.</p>
  </div>

  <br>

  <div ng-show="selectedMembers" id="phaseTwo">

    <div>
      <h5 class="inline colorPurple"><strong>Step 2: </strong></h5><h5 class='inline'><strong>See how much you could save by selecting the sevices you need below:</strong></h5>
    </div>

    <br>

    <p>The following dental savings information chart compares actual costs to discounted costs for common dental services.</p>
    <p>We've already filled in a few boxes for you to help you get started.</p>

    <form ng-submit="submitForm()">
      <table>

        <thead>
          <th></th>
          <th class="rotate" ng-repeat="service in services"><div><span>{{service.title}}</span></div></th>
        </thead>

        <tbody>

          <tr class="tableHeader">
            <td><strong class="mobileHide"># of individuals</strong></td>
            <td class="tableData" ng-repeat="service in services">
              <p class="selectAll">Select All</p>
              <input type="checkbox" ng-model="service.selected">
            </td>
            <td><strong>Annual Savings</strong></td>
          </tr>

          <tr ng-repeat="member in members" id="{{'memberRow' + member.id}}">
            <td><span class="mobileHide">Member {{member.id}}</span><span class="mobileShow">{{member.id}}</span></td>
            <td ng-repeat="service in services">
              <input type="checkbox" ng-click="getTotals(member.id)" ng-checked="service.selected" value="{{service.savings}}">
            </td>
            <td><strong>${{getTotals(member.id)}}</strong></td>
          </tr>

          <tr>
            <td class="addMember" colspan="1" ng-click="addMember()"><span>+ Add Another Person</span></td>
            <td class="disclaimer" colspan="9">This is an example only. Actual costs may vary by provider, service and geographic area. Cost of card: $191.40. ($15.95/mo for 12 months)</td>
          </tr>

        </tbody>

      </table>

      <br>

      <div>
        <img class="arrowImage mobileHide" ng-src="images/arrow.png" alt="">
        <div class="halfPageLeft"><h5>Cost of the Carefree Dental Card:</h5><h1>$15.95/mo</h1><p>Annual cost of the Carefree Dental card is $191.40.</p></div>
        <div class="halfPageRight"><h5>Estimated Yearly Savings: </h5><h1>${{totalSavings}}</h1><p>That's over {{getMovie()}} movie tickets!</p></div>
      </div>

      <input type="submit" class="btn btn-warning" value="Sign Up & Start Saving Today!">

    </form>



  </div>



</container>
